<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>
      <handlers>
        <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
            <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">  
                     <match url="iisnode"/>  
            </rule>  
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^index.js\/debug[\/]?"/>
                </rule> 
            <rule name="SocketIO" patternSyntax="ECMAScript">
               <match url="socket.io.+"/>
              <action type="Rewrite" url="server.js"/>
            </rule>
            <rule name="DynamicContent">  
                  <conditions>  
                      <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>  
                  </conditions>  
                  <action type="Rewrite" url="index.js"/>  
            </rule>  

       </rules>
      </rewrite>
      <iisnode debuggerPathSegment="debug" 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
      <webSocket enabled="true"/>

    </system.webServer>
  </configuration>